@font-face {
    font-family: 'SF Pro Display';
    src: 
        url('SFProDisplay-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'SF Pro Display';
    src: 
        url('SFProDisplay-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
